{% extends 'layout.html.twig' %}

{% block main %}
    <h2>{{ wish.label }}</h2>
    <p>Créée par {{ wish.author.username }}</p>
    <p>Moyenne des notes : {{ wish.averageRating }} / 5</p>
    <div>Classée dans : {{ wish.category.name }}</div>
    <p>{{ wish.dateCreated|date("d/m/Y à H:i:s") }}</p>
    <div><p>{{ wish.description }}</p></div>

    <a href="{{ path('list_add', {'id': wish.id}) }}" class="btn btn-success">Ajouter à ma liste</a>
    <a href="{{ path('wish_remove', {'id': wish.id}) }}" class="btn btn-danger">
        Supprimer</a>
    <a href="{{ path('wish_edit', {'id': wish.id}) }}" class="btn btn-warning">
        Modifier</a>

    {{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    <button>Go !</button>
    {{ form_end(commentForm) }}

    <h3>Les derniers commentaires</h3>
    <div>
        {% for comment in wish.comments %}
            <article>
                <p>{{ comment.content }}</p>
                <p>{{ comment.rating }} / 5</p>
            </article>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Détails{% endblock %}