{% extends 'layout.html.twig' %}

{% block main %}
    <h2>{{ wish.label }}</h2>
    <div>Classée dans : {{ wish.category.name }}</div>
    <p>{{ wish.dateCreated|date("d/m/Y à H:i:s") }}</p>
    <div>{{ wish.description }}</div>

    <a href="{{ path('wish_remove', {'id': wish.id}) }}" class="btn btn-danger">
        Supprimer</a>
    <a href="{{ path('wish_edit', {'id': wish.id}) }}" class="btn btn-warning">
        Modifier</a>
{% endblock %}

{% block title %}{{ parent() }} | Détails{% endblock %}